<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="member">
            <h2><span>Member</span> {{member.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Type</span></dt>
                <dd>
                    <span>{{member.type}}</span>
                </dd>
                <dt><span>User Name</span></dt>
                <dd>
                    <span>{{member.userName}}</span>
                </dd>
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{member.name}}</span>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    <div *ngIf="member.user">
                        <a [routerLink]="['/member', member.user?.id, 'view']">{{member.user?.id}}</a>
                    </div>
                </dd>
                <dt><span>Mentor</span></dt>
                <dd>
                    <div *ngIf="member.mentor">
                        <a [routerLink]="['/mentor', member.mentor?.id, 'view']">{{member.mentor?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/member', member.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
